[Bug]: active_connection_id_limit causes interoperability issues after #776

### What happened?

Recently the issue #776 has been fixed, however the fix didn't restore interoperability with nginx and broke interoperability with Akamai proprietary implementation. In both cases, second NEW_CONNECTION_ID frame causes the server to close connection with QUIC_CONNECTION_ID_LIMIT_ERROR.

The fragment §5.1.1 of RFC 9000 quoted in #776  does not, in fact, exist in the RFC 9000 text as could be found here: https://datatracker.ietf.org/doc/html/rfc9000, so it's not clear whether the initial client-generated DCID should be counted towards the limit or not.

I believe properly retiring the initial DCID would fix the issue.

### Steps To Reproduce

One could check Martin Seeman's interop logs here: https://interop.seemann.io/logs/quic/2026-06-15T19:07/nginx_xquic/http3/ -- the issues is clearly visible in wireshark output

### Relevant log output

```shell

```

We've identified this issue. The real problem isn't whether handshake CIDs should be included in the limit, but rather that xquic is treating the client-generated initial DCID as a from-peer CID and including it in the `dcid_set`'s `used_cnt`.

We will fix this shortly.