[Bug]:  未验证TE头字段只允许"trailers"值

### What happened?

RFC 9114  Section 4.2：  “The only exception to this is the TE header field, which MAY be present in an HTTP/3 request header section, but MUST NOT contain any value other than ‘trailers’.” 

xquic没有对TE头字段进行任何验证。如果接收到的TE头字段包含"trailers"以外的值(如"chunked"或"compress")，xquic不会将其视为格式错误。

xqc_h3_request.c, xqc_h3_stream.c 无TE头字段验证逻辑

nghttp3_http.c:411-414 检测 NGHTTP3_QPACK_TOKEN_TE，如果值不是"trailers"则返回 NGHTTP3_ERR_MALFORMED_HTTP_HEADER

修复建议：
在接收端检测TE头字段值，非"trailers"值返回H3_MESSAGE_ERROR

### Steps To Reproduce

Information and Steps to reproduce the behavior.

### Relevant log output

```shell

```

Solved in: https://github.com/alibaba/xquic/pull/793